type project
authors pdfforge GmbH
include-pdbs true
licenseUrl http://opensource.org/licenses/MIT
projectUrl https://github.com/pdfforge/translatable
iconUrl https://github.com/pdfforge/translatable/blob/master/doc/translatable.png?raw=true

description
	The Translatable project (https://www.nuget.org/packages/Translatable/) has the goal to make creating type-safe translation objects easy.
	
	The NGettext (https://www.nuget.org/packages/NGettext/) implementation does this by allowing to use GNU gettext MO files as source for the translations.
