framework: net8.0, net472, netstandard2.0
source https://api.nuget.org/v3/index.json

nuget NGettext >= 0.6
nuget CommandLineParser >= 2.0 prerelease
nuget Optional

group build
	source https://api.nuget.org/v3/index.json
    
    nuget Gettext.Tools
    nuget NUnit.ConsoleRunner

group test
	source https://api.nuget.org/v3/index.json
    
    nuget Microsoft.Net.Test.Sdk
	nuget NSubstitute
    nuget NUnit ~> 3