framework: net472
source https://api.nuget.org/v3/index.json

nuget NGettext >= 0.6
nuget CommandLineParser >= 2.0 prerelease
nuget Optional

group build
	source https://api.nuget.org/v3/index.json
    
    nuget FAKE ~> 4
    nuget Gettext.Tools
    nuget xunit.runner.console

group test
	source https://api.nuget.org/v3/index.json
    
    nuget xUnit ~> 1
	nuget NSubstitute
