type project
authors pdfforge GmbH
include-pdbs true
licenseUrl http://opensource.org/licenses/MIT
projectUrl https://github.com/pdfforge/translatable
iconUrl https://github.com/pdfforge/translatable/blob/master/doc/translatable.png?raw=true

references
	Translatable.dll

description
	The Translatable project has the goal to make creating type-safe translation objects easy. Read more on how to get started in GitHub: https://github.com/pdfforge/translatable.
	
	To export translations, you can use Translatable.Export inside your build script. https://www.nuget.org/packages/Translatable.Export/
