type project
authors pdfforge GmbH
include-pdbs true
licenseUrl http://opensource.org/licenses/MIT

files
	bin/Release/CommandLine.dll => tools
	bin/Release/Translatable*.dll => tools
	bin/Release/Translatable.Export.exe => tools

description
	The Translatable project has the goal to make creating type-safe 
	translation objects easy.

	The Export package allows to analyze assemblies for instances
	of ITranslatable and export the POT files based on that.
